devops/
test/
node_modules/
.vscode/
.local/
!.local/.env
.~lock*
.yarnrc

*.map
.editorconfig
.eslint*
.gitlab-ci.yml
.prettierignore
prettier.*
postcss.*

coverage/
jest.*

README.md
LICENSE

.nvmrc
npm-debug.log
.dockerignore

.env.example
